
.bagdeShopPurchaseButton--green {
 --button-color:#33722d;
 --button-bg:#b4f1af;
 --button-bg-hover:#a0ed99;
 --button-bg-active:#8be984;
 --button-bg-disabled:#b4f1af
}

.bagdeShopPurchaseButton--yellow {
 --button-color:#fff;
 --button-bg:#fbbc04;
 --button-bg-hover:#e2a904;
 --button-bg-active:#c99603;
 --button-bg-disabled:#fbbc04
}

.bagdeShopPurchaseButton--grey {
 --button-color:#fff;
 --button-bg:#aaa;
 --button-bg-hover:#aaa;
 --button-bg-active:#aaa;
 --button-bg-disabled:#aaa
}